body{
  background-image: url("../images/ep_naturalblack.png");
  background-attachment: fixed;
  color: white;
  font-family: 'Oswald', sans-serif;
}

h1{
  font-size: 72px;
  margin-bottom:20px;
}

h2{
  font-size: 56px;
  margin-bottom:20px;
}

h3{
  font-size: 48px;
  font-weight: bold;
}

p{
  font-size:24px;
  line-height:1.2;
}

header{
  text-align:center;
}

.intro{
  position:relative;
}

.topImage{
  width: 90vw;
  height: 50vh;
  margin-left: 5vw;
}

.statement{
  position: absolute;
  top: 20vh;
  left: 10vw;
  color: #10151a;
}
.container{
  margin:auto;
  margin-top:20px;
  text-align:center;
}

.skills{
  background: #157c84;
  border-radius: 123px;
  width: 50vw;
  min-height:230px;
  padding-bottom:10px;
  padding-top:10px;
}

.icons{
  line-height:4;
}

i{
  font-size:75px;
  margin: 10px;
}

.portfolio{
  position:relative;
  margin-bottom:50px;
}

.portTitle{
  background: #d8d4d4c4;
  color: #0c121a;
  padding: 5px;
  border-radius: 10px;
  z-index:1;
}

.portPara{
  background: #d8d4d4c4;
  color: #0c121a;
  padding: 5px;
  border-radius: 10px;
  text-align: left;
}

.projectImage{
  width:90vw;
  position:relative;
}

.bio{
  background: #157c84;
  border-radius: 100px;
  width: 70vw;
  min-height:315px;
  padding-bottom:30px;
  padding-top:10px;
}

.me{
  width:200px;
  transform:rotate(90deg);
  border:white solid;
  border-radius: 77px;
  overflow:hidden;
}

.bioPara{
  text-align:justify;
  line-height:1.5;
}

.contact{
  margin-bottom:10px;
}

footer{
  margin-top:20px;
  background: #157c84;
  width:100vw;
  text-align:center;
  height:20px;
  font-size:12px;
  padding-top:4px;
}

@media (min-width: 992px) {
  .rightTitle{
    position: absolute;
    top: 0px;
    right: 30px;
  }

  .portPara{
    position: absolute;
    bottom:-50px;
  }

  .portfolio{
    margin-bottom:100px;
  }

  .projectImage{
    width: 900px;
  }

  .me{
    float:left;
  }

  .bioPara{
    margin-left:200px;
    margin-right:20px;
  }
}

@media (max-width: 991px) {
  .portfolioContainer{
    margin-left:3vw;
    max-width:90vw;
  }

  .portfolioTitle{
    width: 90vw;
  }

  .portTitle{
    width: 90vw;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .product-item-description{
    width:90vw;
  }

  .portPara{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .me{
    margin:10px;
  }

  .bioPara{
    margin: 10px 18px 0px 18px;
  }
}